<div class="form-page">
  <h2 class="form-title">Reactive Enrollment Form</h2>

  <form [formGroup]="enrollForm" (ngSubmit)="onSubmit()" class="form-box">

    <label>Student Name:</label>
    <input type="text" formControlName="studentName">
    <p class="error" *ngIf="enrollForm.get('studentName')?.touched && enrollForm.get('studentName')?.errors?.['required']">Name is required.</p>
    <p class="error" *ngIf="enrollForm.get('studentName')?.touched && enrollForm.get('studentName')?.errors?.['minlength']">Name must be at least 3 characters.</p>

    <label>Student Email:</label>
    <input type="email" formControlName="studentEmail">
    <p class="error" *ngIf="enrollForm.get('studentEmail')?.touched && enrollForm.get('studentEmail')?.errors?.['required']">Email is required.</p>
    <p class="error" *ngIf="enrollForm.get('studentEmail')?.touched && enrollForm.get('studentEmail')?.errors?.['email']">Enter a valid email.</p>

    <label>Course ID:</label>
    <input type="number" formControlName="courseId">
    <p class="error" *ngIf="enrollForm.get('courseId')?.touched && enrollForm.get('courseId')?.errors?.['required']">Course ID is required.</p>

    <label>Preferred Semester:</label>
    <select formControlName="preferredSemester">
      <option value="Odd">Odd</option>
      <option value="Even">Even</option>
    </select>

    <div class="checkbox-row">
      <input type="checkbox" formControlName="agreeToTerms">
      <label>I agree to the terms and conditions</label>
    </div>
    <p class="error" *ngIf="enrollForm.get('agreeToTerms')?.touched && enrollForm.get('agreeToTerms')?.errors?.['required']">You must agree to the terms.</p>

    <button type="submit" class="submit-btn" [disabled]="enrollForm.invalid">Submit</button>
  </form>
</div>